<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Blog</a>
        <form routerLink="blog/results" method="POST" class="form-inline navbar-left">
          <div class="form-inline">
            <input
              class="form-control"
              type="text"
              placeholder="Search blogs..."/>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
  </nav>
  <router-outlet></router-outlet>
</div>

