<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Blog</a>
    <li class="nav-item">
      <a class="navbar-brand" routerLink="blog" routerLinkActive="active"
        >Blogs</a>
    </li>
    <li class="nav-item">
      <div id="searchb" class="">
        <form routerLink="blog/results" method="POST">
          <div class="ui action input">
            <input
              name="searchData"
              type="text"
              placeholder="Search blogs..."/>
          </div>
        </form>
      </div>
    </li>
  </nav>
</div>
<router-outlet></router-outlet>
