<div class="col-md-6">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by title"
      [(ngModel)]="title"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="search()"
      >
        Search
      </button>
    </div>
  </div>
</div>

<div class="col-md-6">
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let blog of blogs; let i = index"
    [class.active]="i == currentIndex"
  >
    {{ blog.title }}
    <a class="badge badge-info" href="/blog/{{ blog.id }}">
      See full
    </a>
  </li>
</ul>
</div>